.linkmaroon { 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12px;
    font-weight: bold; 
    cursor: hand; 
    text-decoration: none;
    color: maroon
    }
.linkmaroon:hover { 
    text-decoration: underline;
    color: red
    }
.linkwhite {  
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12px;
    font-weight: bold; 
    cursor: hand; 
    text-decoration: none;
    color: white
    }
.linkwhite:hover { 
    text-decoration: underline;
    color: #facaef
    }
.fontmaroon {  
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12px;
    font-weight: bold; 
    color: maroon
    }
.fontred {  
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12px;
    font-weight: bold; 
    color: #ff4040
    }
.fontwhite {  
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12px;
    font-weight: bold; 
    color: white
    }
.text {  
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12px;
    }

.code {  
    font-family: "Courier New", Courier, mono; 
    font-size: 12px
    }
p,td,ul,li,dd,dt,ol {  
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12px
    }
H3 {  
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 16px
    }

pre,code {
	-moz-border-radius-topright: 5px; -webkit-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px; -webkit-border-radius-topleft: 5px;
	-moz-border-radius-bottomright: 5px; -webkit-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px; -webkit-border-radius-bottomleft: 5px;
	font-family: "DejaVu Sans Mono","Courier New", Courier, mono;
	font-size: 12px;
	background: white;
	padding: 5px;
}

tt {
	font-family: "DejaVu Sans Mono","Courier New", Courier, mono;
	font-size: 8pt;
}

a {
	text-decoration: none;
        color: #1a7e30;
}

a.navlink {
	color:maroon;
}

a:hover {
	text-decoration: underline;
}

.title {  
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12px;
    color: black
    }
    
.toc {  
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12px;
    color: black
    }

/* foxX: geshi.css */

.source-cpp {line-height: normal;}
.source-cpp li {line-height: normal;}
/**
 * GeSHi Dynamically Generated Stylesheet
 * --------------------------------------
 * Dynamically generated stylesheet for cpp
 * CSS class: source-cpp, CSS id:
 * GeSHi (C) 2004 - 2007 Nigel McNie (http://qbnz.com/highlighter)
*/
.source-c .de1, .source-cpp .de2 {font-family: 'Courier New', Courier, monospace; font-weight: normal;}
.source-c  {}
.source-c .head {}
.source-c .foot {}
.source-c .imp {font-weight: bold; color: red;}
.source-c .ln-xtra {color: #cc0; background-color: #ffc;}
.source-c li {font-family: 'Courier New', Courier, monospace; color: black; font-weight: normal; font-style: normal;}
.source-c li.li2 {font-weight: bold;}
.source-c .kw1 {color: #0000ff;}
.source-c .kw2 {color: #0000ff;}
.source-c .kw3 {color: #0000dd;}
.source-c .kw4 {color: #0000ff;}
.source-c .co1 {color: #606060; font-style: italic}
.source-c .co2 {color: #0000A0;}
.source-c .coMULTI {color: #606060; font-style: italic;}
.source-c .es0 {color: #666666; font-weight: bold;}
.source-c .br0 {color: #000000;}
.source-c .st0 {color: #991111;}
.source-c .nu0 {color: #0000dd;}
.source-c .me1 {color: #000099;}
.source-c .me2 {color: #000099;}

